<footer>
  <div class="footer-content">
    <div class="footer-about">
      <div class="logo">
        <img ngSrc="assets/logo/Logo%20Valley%20Road%20Bricks%20Lean.svg" alt="Valley Road Bricks" height="75" width="100">
      </div>
      <p>De mooiste LEGO®-sets huren zonder ze te kopen. Duurzaam voordelig en zorgeloos</p>
    </div>

    @for (section of sections; track section) {
      <div class="footer-section">
        <h4>{{ section.title }}</h4>
        <ul>
          @for (link of section.links; track link) {
            <li>
              <a [href]="link.link">{{ link.label }}</a>
            </li>
          }
        </ul>
      </div>
    }
  </div>

  <div class="footer-bottom">
    <div class="copyright">
      <p>&copy; {{ currentYear }} Valley Road Bricks. Alle rechten voorbehouden.</p>
    </div>
    <div class="footer-links">
      <a href="#">Algemene voorwaarden</a>
      <span class="separator">|</span>
      <a href="#">Privacybeleid</a>
    </div>
  </div>
</footer>
