<div class="hero-content-mobile">
  <img ngSrc="assets/img/VRB-Hogwarts-Castle-mobile.png" alt="Lego Zweinstein kasteel set" fill>
  <img class="divider" ngSrc="assets/img/hills.svg" fill>
</div>
<section class="hero">
  <div class="hero-content">
    <h1>Ontdek de mooiste LEGO®-sets</h1>
    <div class="hero-subtitle">zonder ze te kopen.</div>
    <p>Bouw iconische sets van LEGO® Technic, Icons, Star Wars™ en meer. Professioneel gecontroleerd, altijd compleet en gemakkelijk te retourneren.</p>

    <div class="hero-actions">
      <button class="btn-primary" [routerLink]="['onze-sets']">
        Bekijk de collectie →
      </button>
      <button class="btn-secondary" [routerLink]="['hoe-het-werkt']">
        Hoe werkt het?
      </button>
    </div>
  </div>

  <div class="hero-image">
  </div>
</section>

<div class="info-bars">
  <div class="info-bar">
    <div class="info-icon"><fa-icon [icon]="faCircleCheck"></fa-icon></div>
    <div class="info-content">
      <div class="info-title">100% compleet</div>
      <div class="info-text">en gecontroleerd</div>
    </div>
  </div>

  <div class="info-bar">
    <div class="info-icon"><fa-icon [icon]="faLeaf"></fa-icon></div>
    <div class="info-content">
      <div class="info-title">Duurzaam</div>
      <div class="info-text">en voordelig</div>
    </div>
  </div>

  <div class="info-bar">
    <div class="info-icon"><fa-icon [icon]="faHouseChimneyCrack"></fa-icon></div>
    <div class="info-content">
      <div class="info-title">Afbreekservice</div>
      <div class="info-text">Kies voor gemak</div>
    </div>
  </div>
</div>
