<div class="container">
  <app-header></app-header>
  <span class="m-2 cursor-pointer" (click)="back()"><fa-icon [icon]="faChevronLeft"></fa-icon> Terug</span>
  <main>
    @if (!!product) {
      @if (!!product.images) {
        <app-image-carousel [images]="[product.image].concat(product.images)"></app-image-carousel>
      }
      <div class="product-overview flex flex-column">
        <div class="flex flex-column">
          <span class="uppercase">{{product.category}}</span>
          <span>{{product.legoId}}</span>
          <p class="text-bold">{{product.name}}</p>
          <span class="text-primary text-bold">€{{product.price}},-</span>
          <span><fa-icon [icon]="faHashtag"></fa-icon> {{product.pieces}} stenen</span>
        </div>

        @if (!product.nearlyInStock) {
          <button class="btn mt-5"
                  (click)="showRentalModal = true"
                  [disabled]="!product.inStock || product.nearlyInStock">
            Huur deze set
            <span>→</span>
          </button>
        } @else {
          <span class="m-2 text-primary">Nog eventjes wachten. We zijn deze set op dit moment aan het klaarmaken voor verhuur.</span>
        }

        @if (product.hasNoMiniFigs) {
          <span class="text-warning">* deze set wordt geleverd zonder mini-figuren</span>
        }
        @if (!!rentals && rentals.length > 0) {

          <div class="rental-period-list">
              <div class="rental-period">

                <div class="rental-period-icon">
                  📅
                </div>

                <div class="rental-period-content">

            <span class="rental-period-label">
              Verhuurd
            </span>
                @for (rental of rentals; track $index) {
                  <div class="rental-period-dates">

                    <strong>
                      {{ formatDisplayDate(rental.startDate) }}
                    </strong>

                    <span class="date-arrow">
                      →
                    </span>

                    <strong>
                      {{ formatDisplayDate(rental.endDate) }}
                    </strong>

                  </div>

                }
                </div>

              </div>

          </div>

        } @else {

          <div class="no-rentals">

      <span class="no-rentals-icon">
        ✓
      </span>

            <div>
              <strong>
                Nog geen verhuurde periodes
              </strong>

              <span>
          Deze set is momenteel beschikbaar.
        </span>
            </div>

          </div>

        }
      </div>
    }
    <div class="info-bars">
      <div class="info-bar">
        <div class="info-icon"><fa-icon [icon]="faCircleCheck"></fa-icon></div>
        <div class="info-content">
          <div class="info-title">Compleet</div>
          <div class="info-text">en gecontroleerd</div>
        </div>
      </div>

      <div class="info-bar">
        <div class="info-icon"><fa-icon [icon]="faLeaf"></fa-icon></div>
        <div class="info-content">
          <div class="info-title">Duurzaam</div>
          <div class="info-text">en voordelig</div>
        </div>
      </div>

      <div class="info-bar">
        <div class="info-icon"><fa-icon [icon]="faHouseChimneyCrack"></fa-icon></div>
        <div class="info-content">
          <div class="info-title">Afbreekservice</div>
          <div class="info-text">Kies voor gemak</div>
        </div>
      </div>
    </div>
    <div class="product-details mb-6">
      <p class="text-secondary">Omschrijving</p>
      <span class="text-pre-line">{{product.description}}</span>
    </div>
    <div class="in-product">
      <div>
        <p class="text-secondary">Wat zit er in de doos?</p>
        <p><fa-icon [icon]="faCheck" class="text-primary"></fa-icon>Complete LEGO®-set</p>
        <p>
          @if (product.hasNoMiniFigs) {
            <fa-icon [icon]="faX" class="text-warning"></fa-icon>
          } @else {
            <fa-icon [icon]="faCheck" class="text-primary"></fa-icon>
          }

          Mini-figuren
        </p>
        <p><fa-icon [icon]="faCheck" class="text-primary"></fa-icon>Bouwinstructies</p>
        <p><fa-icon [icon]="faCheck" class="text-primary"></fa-icon>Gesorteerde onderdelen</p>
        <p><fa-icon [icon]="faCheck" class="text-primary"></fa-icon>Opruiminstructie</p>
        <p><fa-icon [icon]="faCheck" class="text-primary"></fa-icon>Opbergzakjes</p>
      </div>
    </div>
  </main>

  <app-footer></app-footer>
</div>

<app-rental-request-modal
    [visible]="showRentalModal"
    [set]="product"
    (closed)="showRentalModal = false"
></app-rental-request-modal>
