<section class="newsletter-section">
  <div class="max-width">
    <div class="newsletter-content flex flex-center">
      <div>
        <h2>Blijf op de hoogte</h2>
        <p>Ontvang je eerste updates over nieuwe sets, exclusieve aanbiedingen en LEGO®-nieuws.</p>
      </div>
      <button class="btn">
        <a href="https://whatsapp.com/channel/0029VbDgl0r1noz7Z4Xvs50T"
           target="_blank"
           rel="noopener">
          Volg ons op WhatsApp
        </a>
      </button>

    </div>
  </div>
</section>
