<div class="carousel">

  <button
      class="nav prev"
      (click)="previous()">
    ❮
  </button>

  <div
    #viewport
    class="viewport"
    (scroll)="onScroll()">

    @for (image of images; track image; let i = $index) {
      <div class="slide">
        <img
            [src]="image"
            [alt]="'Carousel image ' + (i + 1)"
            draggable="false">
      </div>
    }

  </div>

  <button
      class="nav next"
      (click)="next()">
    ❯
  </button>

</div>

@if (dots) {
  <div class="dots">

    @for (image of images; track image; let i = $index) {

      <button
          class="dot"
          [class.active]="i === currentIndex()"
          (click)="goTo(i)">
      </button>

    }

  </div>
}
