<div class="catalogue-container">
  <app-header></app-header>

  <main class="catalogue-main">
    <div class="catalogue-header">
      <h1>Kies je volgende bouwavontuur</h1>
      <p>Van een imposant kasteel tot een technisch meesterwerk, van een ruimteschip tot een kleurrijk Disney-model: in onze catalogus vind je LEGO-sets voor verschillende leeftijden, interesses en bouwervaringen.</p>
      <p>Iedere set wordt zorgvuldig gecontroleerd voordat hij opnieuw wordt verhuurd, zodat jij met een complete set aan de slag kunt.</p>
      <p>Twijfel je welke set bij jou past? Kijk dan niet alleen naar het aantal steentjes. Bedenk vooral wat je leuk vindt: een uitdagend bouwproject, samen bouwen met de kinderen, lekker spelen na het bouwen of juist een prachtig model om een tijdje tentoon te stellen. Bij iedere set beschrijven wij onze persoonlijke ervaring bij het bouwen, zodat je een weloverwogen keuze kunt maken.</p>
      <p>En het mooiste? Je hoeft niet te kiezen welke set je voor altijd wilt houden. Bij Valley Road Bricks kun je ze gewoon uitproberen.</p>
      <p class="text-bold">Bekijk de collectie en kies jouw volgende set.</p>
    </div>

    <div class="catalogue-content">
      <app-filter-sidebar></app-filter-sidebar>
      <app-product-list></app-product-list>
    </div>
  </main>

  <app-footer></app-footer>
</div>
