<div class="container">
  <app-header></app-header>

  <main class="page-content">
    <div class="page-header">
      <h1>FAQ</h1>
      <p>Veelgestelde vragen</p>
    </div>
    <app-collapse-panel title="Hoe lang kan ik een LEGO-set huren?" [initiallyOpen]="false">
      <p>Je kunt zelf inschatten of je 1, 2, 3 of meer weken nodig hebt voor het bouwen van de set. Vooraf spreek je af hoeveel weken je nodig denkt te hebben.</p>
      <p>Mocht het niet lukken om de set binnen de afgesproken weken de set af te maken kun je contact met ons opnemen of we de huur kunnen verlengen. Verlenging moet minimaal 4 dagen voor verstrijken van de termijn aangevraagd worden, en is alleen mogelijk als de set niet gereserveerd is.</p>
    </app-collapse-panel>
    <app-collapse-panel title="Waar kan ik de set ophalen en terugbrengen??" [initiallyOpen]="false">
      <p>Valley Road Bricks werkt voorlopig uitsluitend lokaal. Na je reservering spreken we een moment af voor ophalen en terugbrengen.</p>
    </app-collapse-panel>
    <app-collapse-panel title="Moet ik borg betalen?" [initiallyOpen]="false">
      <p>Ja. Voor iedere verhuur vragen we een borg. Die krijg je terug nadat we de set hebben gecontroleerd. Je kunt er ook voor kiezen één keer borg te betalen, voor meerdere keren huren.</p>
    </app-collapse-panel>
    <app-collapse-panel title="Wat moet ik doen als er een stukje mist?" [initiallyOpen]="false">
      <p>Oh nee, dat is vervelend! Kijk bij een missend stukje altijd eerst even in het zakje met steentjes erna, soms komt het voor dat er een blikje per ongeluk verkeerd terecht is gekomen. Ook wil er nog wel eens een stukje blijven hangen in het zakje, dus het zakje waar je me bezig bent nog een keer controleren zou ook kunnen helpen.</p>
      <p>Nog niets gevonden? Laat ons dan weten dat je het stukje mist. Is het een essentieel onderdeel, dan zorgen we voor vervanging. Omdat we lokaal werken is dat vaak snel geregeld.</p>
    </app-collapse-panel>
    <app-collapse-panel title="Wat gebeurt er als ik een onderdeel kwijt raak?" [initiallyOpen]="false">
      <p>Geen paniek. Laat het ons weten. We kijken eerst of we het onderdeel kunnen vervangen en verrekenen eventuele redelijke vervangingskosten met de borg. Als unieke onderdelen kwijtraken zijn wij mogelijk genoodzaakt hogere vervangingskosten in rekening te brengen. Denk dan bijvoorbeeld aan minifigures of bestickerde onderdelen.</p>
    </app-collapse-panel>
    <app-collapse-panel title="Wat als ik meer tijd nodig heb?" [initiallyOpen]="false">
      <p>Vraag uiterlijk 4 dagen vóór het einde van je huurperiode om verlenging. Als de set niet gereserveerd is, kan dat meestal.</p>
    </app-collapse-panel>
    <app-collapse-panel title="Kan ik een set reserveren voor een verjaardag of vakantie?" [initiallyOpen]="false">
      <p>Zeker! Reserveer wel op tijd, vooral voor populaire sets en schoolvakanties.</p>
    </app-collapse-panel>
    <app-collapse-panel title="Kan ik LEGO ook laten bezorgen?" [initiallyOpen]="false">
      <p>Voorlopig niet. We starten bewust met lokale verhuur en ophalen/terugbrengen. Wie weet verandert dat in de toekomst!</p>
    </app-collapse-panel>
    <app-collapse-panel title="Moet ik de set ook uit elkaar halen?" [initiallyOpen]="false">
      <p>We vragen onze huurders de sets die ze bouwen ook met zorg weer uit elkaar te halen volgens de opruim instructies in de doos. Op die manier kan de volgende bouwer er weer net zoveel plezier aan hebben. In onze ervaring is het uit elkaar halen ook nog best een leuk karweitje ook! Heb je geen tijd, geen zin, of lukt het niet? Wij bieden een opruimservice aan en halen de set graag voor jou uit elkaar.</p>
    </app-collapse-panel>
  </main>
</div>
