<div class="login-page">

  <div class="login-card">

    <div class="login-logo">
      <img src="assets/logo/Logo%20Valley%20Road%20Bricks.svg"
           alt="Valley Road Bricks">
    </div>


    <div class="login-header">

      <h1>
        Admin
      </h1>

      <p>
        Log in om je verhuur en LEGO-sets te beheren.
      </p>

    </div>


    @if (errorMessage) {

      <div class="error-message">
        {{ errorMessage }}
      </div>

    }


    <form
        (ngSubmit)="login()"
    >

      <div class="form-group">

        <label for="email">
          E-mailadres
        </label>

        <input
            id="email"
            type="email"
            name="email"
            [(ngModel)]="email"
            placeholder="jouw@email.nl"
            autocomplete="email"
            [disabled]="loading"
        />

      </div>


      <div class="form-group">

        <label for="password">
          Wachtwoord
        </label>

        <input
            id="password"
            type="password"
            name="password"
            [(ngModel)]="password"
            placeholder="••••••••"
            autocomplete="current-password"
            [disabled]="loading"
        />

      </div>


      <button
          type="submit"
          class="login-button"
          [disabled]="loading"
      >

        @if (loading) {
          <span>
            Inloggen...
          </span>
        } @else {
          <span>
            Inloggen
          </span>
        }

      </button>

    </form>

  </div>

</div>
